<fieldset id="notes">
  <h2>Notes</h2>
  <div class='bodysize_notes'><%= text_area_tag 'bodysize[notes]', bodysize.notes %></div>
  <div class='buttons'>
    <%= submit_tag 'Save', :class => 'clear_both' %>
  </div>
</fieldset>