<fieldset id="other">
  <h2>Other</h2>
  <ul class='fields'>
    <li><label>Environment</label><%= h(bodysize.environment) %></li>
    <li><label>Motility</label><%= h(bodysize.motility) %></li>
  </ul>
</fieldset>
