<div id="search_results">
	<%= render :partial => 'search_results', :locals => {:user => @current_logged_in_user, :bodysizes => @bodysizes, :chart => nil, :show_date_modified => true, :allow_delete => true, :data_field => "biovolume", :show_export => false } %>
</div>