<p>
	Hi <%= @recipient.first_name %>,
</p>

<p>
	Your password for Bodysize has been reset. Your new password is "<%= @password %>". Please <%= link_to('login to Bodysize', url_for(:host => @server, :controller => 'profile', :action=> 'edit', :id => @recipient.id, :only_path => false )) %> login to Bodysize to change your password.
</p>