<div class='login_form'>
  <fieldset>
    <h2>Password Reset</h2>
    <% form_tag do %>
      <table>
        <tr>
          <td>Email Address:</td>
          <td>
            <%= text_field_tag :email_address, params[:email_address] %>
          </td>
        </tr>
        <tr>
          <td colspan='2' class='form_submit'>
            <%= submit_tag 'Reset Password' %>
          </td>
        </tr>
      </table>
    <% end %>
  </fieldset>
</div>