<% content_for :head do %>
  <%= stylesheet_link_tag 'layouts/profile/layout' %>
  <%= stylesheet_link_tag 'layouts/profile/skin' %>
<% end %>

<%= render :partial => '/layouts/before_layout' %>
<%= yield %>
<%= render :partial => '/layouts/after_layout' %>